@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  font-family: Google Sans Flex;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
  background-image: url("https://i.pinimg.com/1200x/d0/a1/c7/d0a1c70cc20a0ade5a9e307b73245802.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainheading {
  font-size: 150px;
}

.menu {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 100px;
}

.menu a {
  color: #b58464;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  list-style: none;
  color: #b58464;
  margin: 10px;
  font-weight: 800;
}

.productwall {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.product {
  width: max-content;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px auto;
  display: block;
  border-radius: 15px;
  display: flex;
  border: 1px solid #b58464;
}

.product img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
  pointer-events: none;
}

.text-area {
  width: 250px;
}

.text-area h2 {
  color: #b58464;
  margin: 20px 30px 0px 0px;
  font-size: 22px;
}

.buy-button {
  background-color: #b58464;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 700;
  cursor: pointer;
  margin: auto 5px;
}

.text-area p {
  color: #b58464;
  margin: 15px 0;
  text-align: left;
  margin-right: 10px;
}

.justflex {
  display: flex;
  justify-content: left;
  width: max-content;
}

.second {
  font-size: 150px;
  text-shadow: 2px 2px 10px #b58464;
  text-align: center;
}

.second-p {
  width: 80%;
  text-align: center;
  margin: auto;
  display: block;
  text-shadow: 1px 1px 5px #b58464;
}

.contactform {
  margin: auto;
  width: min-content;
  display: block;
  background-color: rgba(116, 76, 0, 0.403);
  padding: 10px;
  border-radius: 10px;
}

.contactform label {
  font-size: large;
}

.contactform input {
  margin: 10px 2px;
  padding: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.contactform input::placeholder {
  color: white;
}

#submit-btn {
  background-color: #b58464;
  color: white;
}
