@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

*{
    font-family: Google Sans Flex;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}