    <div class="product">
      <img
        src="https://img.freepik.com/free-vector/coffee-cup-tan-colour_78370-3051.jpg?semt=ais_hybrid&w=740&q=80"
        alt=""
      />
      <div class="text-area">
        <h2>Regular Coffee Cup</h2>
        <p>
          A classic cup of rich, aromatic coffee brewed from quality beans,
          offering a smooth, balanced flavor and comforting warmth, perfect for
          mornings and refreshing breaks. ☕
        </p>

        <div class="justflex">
          <button class="buy-button">BUY</button>
          <button class="buy-button">ADD TO CART</button>
        </div>
      </div>
    </div>